.header {
  grid-area: header;
}

.avatar {
  place-self: center;
  grid-column: 2 / span 2;
  grid-row: 1 / 2;
}
.avatar img {
  display: block;
  margin: auto auto;
  border-radius: 50%;
}

.main {
  grid-area: main;
}
.current {
  place-self: center;
  text-align: center;
  color: #365f9b;
  grid-column: 2 / span 2;
  grid-row: 2 / 3;
}
.links {
  place-self: center;
  grid-column: 2 / span 2;
  grid-row: 3 / 3;
}
.links ul {
  list-style: none; /* Remove list bullets */
  white-space:nowrap;
  padding: 0;
  margin: 0;
}
.links ul li {
  padding: 0 10px;
  display: inline-block;
}
a:link, a:visited {
  color: #365f9b;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  color: #e38e87;
}

.footer {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px 150px 150px;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
