.header {
  grid-area: header;
}

.avatar {
  place-self: center;
  grid-column: 2;
  grid-row: 1;
}

.avatar img {
  display: block;
  margin: auto auto;
  border-radius: 50%;
}

.main {
  grid-area: main;
}

.position {
  place-self: center;
  text-align: center;
  color: black;
  grid-column: 2;
  grid-row: 2;
}

.position a {
  color: #CB8692 !important;
}

.left-arrow {
  cursor: pointer;
  place-self: center;
  grid-column: 1;
  grid-row: 2;
}

.right-arrow {
  cursor: pointer;
  place-self: center;
  grid-column: 3;
  grid-row: 2;
}

.links {
  place-self: center;
  grid-column: 2;
  grid-row: 3;
}

.links ul {
  list-style: none; /* Remove list bullets */
  white-space:nowrap;
  padding: 0;
  margin: 0;
}

.links ul li {
  padding: 0 10px;
  display: inline-block;
}

a:link, a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: #335c98;
}

.footer {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
